hgroup,
h1,h2,h3,h4,h5,h6 {clear:both;font-weight:bold;}

/*
Logarithmic Header Sizing:
h(x)=-ln(x)+2.55
*/
h1 {font-size:2.80em;}
h2 {font-size:2.11em;}
h3 {font-size:1.70em;}
h4 {font-size:1.41em;}
h5 {font-size:1.19em;}
h6 {font-size:1em;}

.quarter-headers h1 {font-size:2.25em;}
.quarter-headers h2 {font-size:2em;}
.quarter-headers h3 {font-size:1.75em;}
.quarter-headers h4 {font-size:1.5em;}
.quarter-headers h5 {font-size:1.25em;}
.quarter-headers h6 {font-size:1em;}

.third-headers h1 {font-size:2.66em;}
.third-headers h2 {font-size:2.33em;}
.third-headers h3 {font-size:2em;}
.third-headers h4 {font-size:1.66em;}
.third-headers h5 {font-size:1.33em;}
.third-headers h6 {font-size:1em;}

.half-headers h1 {font-size:3.5em;}
.half-headers h2 {font-size:3em;}
.half-headers h3 {font-size:2.5em;}
.half-headers h4 {font-size:2em;}
.half-headers h5 {font-size:1.5em;}
.half-headers h6 {font-size:1em;}

pre {font-size:1em;}
.use-code pre,
.use-code code {
	font-family:Consolas, Courier New, Courier, monospace;
}

.single-spaced p,
ul, ol {margin-bottom:0.5em;}

p,
ul, ol, dl,
address,
pre,
code,
table,
p {margin-bottom:1em;}

p,
dl,
ul li,
ol li {line-height:2em;}

address {line-height:1.75em;}

code,
pre,
blockquote,
.single-spaced p,
.single-spaced ul,
.single-spaced ol {line-height:1.25em;}

dl.indent dd {padding-left:0.5in;}
dl.bold dt {font-weight:bold;}

blockquote {
	padding:0 0 0 0.5in;
	margin:1em 0;
}

code {
	display:block;
	white-space:pre;
	font-size:1em;
}
p code {
	margin:0;
	white-space:normal;
	display:inline;
}

ol.loweralpha {list-style-type:lower-alpha;}
ol.upperalpha {list-style-type:upper-alpha;}
