
kbd,
samp,
tt,
pre,
code,
body.monospace {font-family:Consolas,Courier,Courier New,monospace;}

body.use-code code,
pre {white-space:pre;}
@media screen {
	pre, code {overflow:auto;}
}
body.use-code p code,
code.non-executing,
.code {white-space:normal;}
body.use-code code tt,
body.use-code code .cs { /**/
	color:#00f;
	font-weight:bold;
}
body.use-code code b,
body.use-code code .f { /**/
	color:#008;
	font-weight:normal;
}
body.use-code code .cm {color:#080;} /*Comment*/
body.use-code code var,
body.use-code code .v {color:#008;font-style:normal;} /*Variable*/
body.use-code code kbd,
body.use-code code .l {color:#888;} /*Literal*/
body.use-code code samp,
body.use-code code .n {color:#800;} /*Numeric Literal*/