body {
	font-size:12pt;
	line-height:2em;
}

h1 {
	text-align:center;
	line-height:2em;
	font-size:1em;
	font-weight:normal;
	margin:1em 0;
}
h2,
section h1 {
	font-size:11pt;
	float:left;
	font-weight:bold;
	font-variant:small-caps;
	margin:0.3em -0.4in 0 0;
	line-height:1em;
}
h3 {font-size:1.2em;}
p {margin-bottom:0.5em;}
section {margin-top:2em;}

#paper p {text-indent:0.5in;}
#paper q:before {content:'\201C';}
#paper q:after {content:'\201D';}

#paper cite {font-style:italic;}
#paper blockquote {
	padding-left:1in;
}
code {margin:1em 0;}
p code {margin:0;}

table {margin:1em 0;border-color:#000;}
table thead td {text-align:center;}
table, table td, th {border:1px solid #666;}
td, th {padding:0 0.25em;}
th {font-weight:bold;font-size:1em;}
figure figcaption,
table caption {
	text-align:left;
	color:#444;
}

blockquote {line-height:1.2em;margin:0 0 1em;}
blockquote p {line-height:1.25em;}

figure figcaption {
	display:block;
	margin:2em 0 0.5em;
}
figure {padding:0 0 1em;}

ol,
ul {padding-left:0.5in;}
ul ul {list-style-type:circle;}
ul ul ul {list-style-type:square;}

dl {padding:2em 0;}
dl dd {padding-left:0.5in;}

kbd, var {
	padding:0.1em 0.25em;
	background:#eee;
}
/*Screen-only items*/
@media screen {
	abbr {border-bottom:1px dotted #aaa;}
	dfn {border-bottom:1px dotted #69c;}
}